<table class="table table-stripped">
  <thead>
    <tr>
      <th scope="col">Categories</th>
      <th scope="col">Scored Points</th>
      <th scope="col">Possible Points</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryList$ | async; let i = index">
      <th scope="row">{{ category.name }}</th>
      <td>{{ category.scoredPoints }}</td>
      <td>{{ category.possiblePoints }}</td>
      <td>
        <button
          class="btn btn-secondary"
          type="button"
          [disabled]="category.dissabledButton"
          (click)="addPossibleToScoredPoints(i)"
        >
          Select
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button
  class="btn btn-primary"
  [disabled]="dissabledRollButton"
  (click)="rollDice()"
>
  Roll
</button>
